.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 50px;
    margin-bottom: 30px;
}
@media screen and (max-width: 1118px) {
	.cards{
        grid-template-columns: repeat(2, 1fr);
	}
} 

@media screen and (max-width: 753px) {
	.cards{
        grid-template-columns: repeat(1, 1fr)
	}
} 


