body{
	background-image: url("C:\Users\RYZEN\Desktop\rick_and_morty\src\img\space-4749302_1280.jpg");
	background-size: cover;
	filter: brightness(0.8);
}

.App {
	max-width: 500px;
	width: 90%;
	margin: 40px auto;
}


.container{
	margin-top: 50px;
}

@font-face {
	font-family: "pickeRick";
	src: url("C:\Users\RYZEN\Desktop\rick_and_morty\src\fonts\get_schwifty.ttf");
}


