
.navbar {
	background-image: url("C:\Users\RYZEN\Desktop\rick_and_morty\src\img\img_cabecera\Rick_and_Morty.svg.png");
	background-size: contain;
	background-repeat: no-repeat;
	border-radius: 0.4rem;
}